{% extends "base.html" %} {% block title %}
<title>Home Page</title>
{% endblock title %} {% block content %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class=" alert alert-success" role="alert" area>
        {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>

      </div>
    {% endfor %}
  {% endif %}
  <form method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">New Task</label>
    <input type="text" name="task" class="form-control" placeholder="New Task" >
  </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
</form>
<br/>
  <table class="table">
    <thead class="table-light table-bordered">
      <tr>
        <th scope="col">task</th>
        <th scope="col">done</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
  
    {% for obj in tasklist %} 
    {%if obj.done%}
      <tr class="table-success" >
          <td><del>{{obj.task}}</del></td>
          <td><a style="    text-decoration: none;" href="{% url "uncomplete_task" obj.id %}">✅</td>
          <td> <a href="{% url "edit_task" obj.id %}"><button type="button" class="btn btn-outline-secondary">edit</button>
</td>
          <td><a href="{% url "delete_task" obj.id %}"><button type="button" class="btn btn-outline-danger">Delete</button>
</a></td>
      </tr>
     {% else %}
      <tr class="table" >
          <td>{{obj.task}}</td>
          <td> <a style="    text-decoration: none;" href="{% url "complete_task" obj.id %}">❌</td>
          <td> <a href="{% url "edit_task" obj.id %}"><button type="button" class="btn btn-outline-warning">edit</button>
</td>
          <td><a href="{% url "delete_task" obj.id %}"><button type="button" class="btn btn-outline-danger">Delete</button>
</a></td>
      </tr> 
      {% endif %}
    {% endfor %}
   
{% endblock content %}
  

{% block pagination %}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% if tasklist.has_previous  %}
      <li class="page-item"><a class="page-link" href="?page={{ tasklist.previous_page_number }}">{{ tasklist.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{tasklist.number}}">{{tasklist.number}}</a></li>
    {% if tasklist.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ tasklist.next_page_number }}">{{ tasklist.next_page_number }}</a></li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page={{tasklist.paginator.num_pages}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock pagination %}